<!doctype html>
<!--
Responsive HTML5 Template by Psdslicer
Psdslicer.com | PSD to HTML5 | @psdslicer
Free for personal and commercial use under the CCA 4.0 license.
http://creativecommons.org/licenses/by/4.0/
-->
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-touch-fullscreen" content="YES">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Free Responsive HTML5 Template by Psdslicer.com</title>
<meta content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" name="viewport">
<link href="css/typography.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/fancybox.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/right-toogle.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/media_queries.css" rel="stylesheet" type="text/css" />
<!-- html5.js for IE less than 9 -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- css3-mediaqueries.js for IE less than 9 -->
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<script src="js/modernizr.js"></script>
<script src="js/jquery-2.1.0.min.js"></script>
<script>
function HideLoader() {
var l = document.getElementById('Loader');
l.style.visibility = 'hidden';
}
</script>
</head>
<body onLoad="HideLoader()">
<button name="Loader" id="Loader"> <span class="outer"> <span class="inner"> <img src="img/fancybox_loading@2x.gif" alt="loader" width="48" height="48" /> </span> </span> </button>
<section class="container-box">
<div id="header">
  <div id="navbar" role="navigation">
    <div class="container-box">
      <header>
        <section class="container">
          <div class="logo"><a href="http://psdslicer.com/" title="RESPONSIVE"> RESPONSIVE <span>by Psdslicer</span> </a></div>
          <a class="icon-menu navbar-toggle" data-toggle="collapse" data-target=".menu-content"> <i class="fa fa-bars"></i> <i class="fa fa-times"></i> </a>
          <div class="menu-content collapse">
            <div class="nav-bar">
              <nav>
                <ul id="navigation" class="nav">
                  <li class="active"><a href="#home" class="current">HOME</a></li>
                  <li><a href="#features">FEATURES</a></li>
                  <li><a href="#portfolio">PORTFOLIO</a></li>
                  <li><a href="#team">TEAM</a></li>
                  <li><a href="#pricing">PRICING</a></li>
                  <li><a href="#contact">CONTACT US</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </section>
      </header>
    </div>
  </div>
</div>
<section class="container-main">
<section class="banner-main-bg" id="home">
  <section class="banner-main">
    <div id="main-slider" class="flexslider">
      <ul class="slides">
        <li>
          <figure><img src="img/banner-large-wds001.jpg" alt="BANNER" width="1280" height="848" /></figure>
        </li>
        <li>
          <figure><img src="img/banner-large-wds002.jpg" alt="BANNER" width="1280" height="848" /></figure>
        </li>
        <li>
          <figure><img src="img/banner-large-wds003.jpg" alt="BANNER" width="1280" height="848" /></figure>
        </li>
      </ul>
    </div>
    <div class="banner-txt">
      <div class="banner-outer">
        <div class="banner-inner">
          <div class="container">
            <aside>
              <h1>RESPONSIVE HTML5 TEMPLATE</h1>
              <div id="third-slider" class="flexslider">
                <ul class="slides">
                  <li>
                    <h2>Awesome <span class="highlight">HTML5/CSS3</span> template</h2>
                  </li>
                  <li>
                    <h2>Great choice for a <span class="highlight">Portfolio</span> websites</h2>
                  </li>
                  <li>
                    <h2>Clean code &amp; <span class="highlight">Fully responsive </span> layout</h2>
                  </li>
                </ul>
              </div>
              <p>Responsive HTML5 + CSS3 parallax template by Psdslicer.com. This template is suitable for creative agency or personal portfolios.</p>
              <a href="#linkfeatures" class="btn btn-txt">Learn More</a> </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="sr-top1" id="linkfeatures">
  <section class="sr-top" id="features">
    <section class="section-11">
      <section class="container">
        <div class="heading-txt">
          <aside>
            <h1>FEATURES</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing elidfgn.</p>
          </aside>
        </div>
        <article>
          <div class="icon grow"><i class="fa fa-picture-o"></i></div>
          <aside id="dot6">
            <h3>Web Design <br />
              <span>Lorem ipsum dolor</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing doloribus.</p>
          </aside>
        </article>
        <article>
          <div class="icon grow"><i class="fa fa-heart"></i></div>
          <aside id="dot7">
            <h3>Branding <br />
              <span>Lorem ipsum dolor</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing doloribus.</p>
          </aside>
        </article>
        <article>
          <div class="icon grow"><i class="fa fa-code"></i></div>
          <aside id="dot8">
            <h3>Web Development <br />
              <span>Lorem ipsum dolor</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing doloribus.</p>
          </aside>
        </article>
        <article>
          <div class="icon grow"><i class="fa fa-tablet"></i></div>
          <aside id="dot9">
            <h3>Apps Development <br />
              <span>Lorem ipsum dolor</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing doloribus.</p>
          </aside>
        </article>
        <article>
          <div class="icon grow"><i class="fa fa-send-o"></i></div>
          <aside id="dot10">
            <h3>Social Media <br />
              <span>Lorem ipsum dolor</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing doloribus.</p>
          </aside>
        </article>
        <article>
          <div class="icon grow"><i class="fa fa-dashboard"></i></div>
          <aside id="dot11">
            <h3>Web Optimization <br />
              <span>Lorem ipsum dolor</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing doloribus.</p>
          </aside>
        </article>
      </section>
    </section>
  </section>
</section>
<section class="sr-top" id="portfolio">
  <section class="section-2">
    <section class="container">
      <div class="heading-txt">
        <aside>
          <h1>Latest Works</h1>
          <p>am quibusdam doloribus adipisicing am quibusdam doloribus</p>
        </aside>
      </div>
      <div class="filter-links">
        <ul id="filters">
          <li><a href="#" data-filter="*" class="active">All</a></li>
          <li><a href="#" data-filter=".wd">Web Design</a></li>
          <li><a href="#" data-filter=".gd">Graphic Design</a></li>
          <li><a href="#" data-filter=".phg">Photography</a></li>
        </ul>
      </div>
      <div class="portfolio-isotope">
        <div class="thumbs-list">
          <ul>
            <li class="portfolio-item wd"> <img src="img/filter-wds01.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds01.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item gd"> <img src="img/filter-wds02.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds02.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item phg"> <img src="img/filter-wds03.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds03.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item wd"> <img src="img/filter-wds04.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds04.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item phg"> <img src="img/filter-wds05.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds05.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item gd"> <img src="img/filter-wds06.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds06.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item wd"> <img src="img/filter-wds01.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds01.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item gd"> <img src="img/filter-wds02.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds02.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item phg"> <img src="img/filter-wds03.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds03.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item wd"> <img src="img/filter-wds04.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds04.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item phg"> <img src="img/filter-wds05.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds05.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
            <li class="portfolio-item gd"> <img src="img/filter-wds06.jpg" alt="PHOTO" width="380" height="295" />
              <aside>
                <div class="outer">
                  <div class="inner"> <a class="fancybox icon-zoom" href="img/filter-wds06.jpg" data-fancybox-group="gallery" title="PROJECT TITLE"><i class="fa fa-search-plus"></i></a>
                    <h3><a href="#">PROJECT TITLE</a></h3>
                    <p>GRAPHIC DESIGN</p>
                  </div>
                </div>
              </aside>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </section>
  <section class="sr-top" id="team">
    <section class="section-6">
      <section class="container">
        <div class="heading-txt">
          <aside>
            <h1>Meet Our Team</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing elidfgn.</p>
          </aside>
        </div>
        <article>
          <aside>
            <figure><img src="img/photo-wds01.jpg" alt="Photo" width="264" height="269" />
              <div class="outer-txt">
                <div class="outer-txt-out">
                  <div class="outer-txt-in">
                    <div class="icons"> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-youtube-play"></a> </div>
                  </div>
                </div>
              </div>
            </figure>
            <h3><a href="#">JACK RODRIGO</a></h3>
            <p>Front-end Developer</p>
          </aside>
          <aside>
            <figure><img src="img/photo-wds02.jpg" alt="Photo" width="264" height="269" />
              <div class="outer-txt">
                <div class="outer-txt-out">
                  <div class="outer-txt-in">
                    <div class="icons"> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-youtube-play"></a> </div>
                  </div>
                </div>
              </div>
            </figure>
            <h3><a href="#">NANCY BROWN</a></h3>
            <p>Front-end Developer</p>
          </aside>
          <aside>
            <figure><img src="img/photo-wds03.jpg" alt="Photo" width="264" height="269" />
              <div class="outer-txt">
                <div class="outer-txt-out">
                  <div class="outer-txt-in">
                    <div class="icons"> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-youtube-play"></a> </div>
                  </div>
                </div>
              </div>
            </figure>
            <h3><a href="#">TOM JANSON</a></h3>
            <p>Testing Engineer</p>
          </aside>
          <aside>
            <figure><img src="img/photo-wds04.jpg" alt="Photo" width="264" height="269" />
              <div class="outer-txt">
                <div class="outer-txt-out">
                  <div class="outer-txt-in">
                    <div class="icons"> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-youtube-play"></a> </div>
                  </div>
                </div>
              </div>
            </figure>
            <h3><a href="#">DANIEL CRAIG</a></h3>
            <p>Accounts Manager</p>
          </aside>
        </article>
      </section>
    </section>
  </section>
  <section class="sr-top" id="pricing">
    <section class="section-8">
      <section class="container">
        <div class="heading-txt">
          <aside>
            <h1>OUR PRICES</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing elidfgn.</p>
          </aside>
        </div>
        <article>
          <aside>
            <h2>basic</h2>
            <div class="box">
              <h1>$10.99</h1>
              <p>Per Month</p>
            </div>
            <ul>
              <li>Up to 5 Projects</li>
              <li>5 GB of Storage</li>
              <li>Up to 100 Users</li>
              <li>10 GB Bandwidth</li>
              <li>Security Suite</li>
            </ul>
            <a href="#" class="btn">select plan</a> </aside>
          <aside>
            <h2>standard</h2>
            <div class="box">
              <h1>$19.99</h1>
              <p>Per Month</p>
            </div>
            <ul>
              <li>Up to 10 Projects</li>
              <li>50 GB of Storage</li>
              <li>Up to 200 Users</li>
              <li>25 GB Bandwidth</li>
              <li>Security Suite</li>
            </ul>
            <a href="#" class="btn">select plan</a> </aside>
          <aside class="active">
            <h2>recommended</h2>
            <div class="box">
              <h1>$49.99</h1>
              <p>Per Month</p>
            </div>
            <ul>
              <li>Up to 50 Projects</li>
              <li>5 GB of Storage</li>
              <li>Up to 200 Users</li>
              <li>100 GB Bandwidth</li>
              <li>Security Suite</li>
            </ul>
            <a href="#" class="btn">select plan</a> </aside>
          <aside>
            <h2>advanced</h2>
            <div class="box">
              <h1>$99.99</h1>
              <p>Per Month</p>
            </div>
            <ul>
              <li>Unlimited Projects</li>
              <li>Unlimited Storage</li>
              <li>Unlimited  Users</li>
              <li>Unlimited Bandwidth</li>
              <li>Security Suite</li>
            </ul>
            <a href="#" class="btn">select plan</a> </aside>
        </article>
      </section>
    </section>
    <section class="call-action">
      <section class="container">
        <aside>
          <h3>Perfect HTML5/CSS3 template for showing your portfolio.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit distinctio quaerat.</p>
        </aside>
        <a href="#" class="btn">Get a Free Quote</a> </section>
    </section>
    <section class="sr-top" id="contact">
      <section class="section-10">
        <section class="container smooth-resize">
          <div class="contact-info-in">
            <div class="heading-txt">
              <h2>Contact Us</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisicing elidfgn dipisicing elit dipisicing elit quaerat nemo.</p>
            </div>
            <div class="middle-cont">
              <form id="contact-us" action="form.php" method="post">
                <ul>
                  <li>
                    <input name="contactname" id="contactname" type="text" class="input requiredField" placeholder="First Name" />
                  </li>
                  <li>
                    <input name="lastname" id="lastname" type="txt" class="input requiredField" placeholder="Last Name" />
                  </li>
                  <li>
                    <input name="email" id="email" type="text" class="input requiredField email" placeholder="Enter your email id" />
                  </li>
                  <li>
                    <input name="subjectb" id="subjectb" type="text" class="input requiredField" placeholder="Subject" />
                  </li>
                  <li class="full">
                    <textarea name="comments" id="commentsText" class="textarea txtarea requiredField" placeholder="Your  message..."></textarea>
                  </li>
                  <li>
                    <input name="submit" type="submit" class="btn" value="Send" />
                    <input type="hidden" name="submitted" id="submitted" value="true" />
                  </li>
                </ul>
              </form>
            </div>
          </div>
          <section class="map-area">
            <div class="video-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29266055.398148052!2d133.28132295!3d-26.439074249999983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2b2bfd076787c5df%3A0x538267a1955b1352!2sAustralia!5e0!3m2!1sen!2sin!4v1408362814455" width="600" height="450"></iframe>
            </div>
          </section>
        </section>
      </section>
    </section>
  </section>
  <footer class="footer-in">
    <section class="footer-bar">
      <section class="container">
        <article>
          <aside>
            <h3>About Us</h3>
            <div class="collapse-all">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat nemo nam quibusdam doloribus adipisicing elidfgn Lorem ipsum dolor sit amet.</p>
              <ul>
                <li><i class="fa fa-envelope"></i> <span class="txt"><a href="#">info@yourwebsite.com</a></span></li>
                <li><i class="fa fa-phone"></i><span class="txt">(123) 456-7890</span></li>
                <li><i class="fa fa-home"></i><span class="txt">Your Company Name<br />
                  25 Soho Square, London, NW1 7JE</span></li>
              </ul>
            </div>
          </aside>
          <aside class="tweets">
            <h3>Latest Tweets</h3>
            <div class="collapse-all">
              <ul>
                <li><a href="#">@Lorem</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">http://Loremipsum.com</a> <br />
                  <span>18 hours ago</span></li>
                <li><a href="#">@Lorem</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">http://Loremipsum.com</a> <br />
                  <span>18 hours ago</span></li>
                <li><a href="#">@Lorem</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">http://Loremipsum.com</a> <br />
                  <span>18 hours ago</span></li>
              </ul>
            </div>
          </aside>
          <aside class="aside-recent">
            <h3>Flickr Feed</h3>
            <div class="collapse-all">
              <ul>
                <li><a href="#"><img src="img/filter-wds01.jpg" alt="" width="380" height="295" /></a></li>
                <li><a href="#"><img src="img/filter-wds02.jpg" alt="" width="380" height="295" /></a></li>
                <li><a href="#"><img src="img/filter-wds03.jpg" alt="" width="380" height="295" /></a></li>
                <li><a href="#"><img src="img/filter-wds04.jpg" alt="" width="380" height="295" /></a></li>
                <li><a href="#"><img src="img/filter-wds05.jpg" alt="" width="380" height="295" /></a></li>
                <li><a href="#"><img src="img/filter-wds06.jpg" alt="" width="380" height="295" /></a></li>
                <li><a href="#"><img src="img/filter-wds02.jpg" alt="" width="380" height="295" /></a></li>
                <li><a href="#"><img src="img/filter-wds01.jpg" alt="" width="380" height="295" /></a></li>
                <li><a href="#"><img src="img/filter-wds01.jpg" alt="" width="380" height="295" /></a></li>
              </ul>
            </div>
          </aside>
        </article>
      </section>
    </section>
    <section class="copyright">
      <section class="container">
        <p>Subscribe to our <a href="http://psdslicer.com/blog/feed/">blog</a> and follow us on <a href="https://twitter.com/psdslicer">Twitter</a></p>
        <p class="right">Responsive HTML5 Template by <br class="show-s">
          <strong><a href="http://www.psdslicer.com/">Psdslicer.com</a></strong></p>
      </section>
    </section>
  </footer>
</section>
<script src="js/bootstrap-3.1.1.min.js"></script>
<script src="js/jquery.collapse.js"></script>
<script src="js/jquery.transition.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script type="text/javascript">
$(".fancybox").fancybox({
helpers: {
title: {
type: 'outside'
},
overlay: {
locked: false
}
}
}); 
</script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.owl.carousel.js"></script>
<script src="js/jquery.idTabs.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/jquery.singlescroll.js"></script>
<script src="js/jquery.sscr.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script src="js/jquery.easing.js"></script>
<script src="js/jquery.dotdotdot.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/jquery.styleswitcher.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.singlePageNav.min.js"></script>
<script src="js/jquery.custom.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
</body>
</html>
